body {
    background-color: #f3f3f3;
    display: block;
    margin: 0px;
}

.main {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding: 7% 10%;
    height: 100%;
}

.header {
    padding: 5%;
    border-style: solid;
    border-width: 2px 0;
    border-color: #ddd;
}

.header-name {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.header-links {
    font-size: 1.5em;
}

#resume {
    float: left;
}

#portfolio {
    padding-left: 33.33%;
}

#contact {
    float: right;
}

a {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}

a:link, a:visited {
 border:none;
 text-decoration:none;
 font-style:normal;
 color:black;
}

a:hover {
 text-decoration: underline;
 color: #bfbfbf;
}


@media (max-width: 1015px){
    .main{
        margin: 0;
    }
}

